@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet');

body{
    z-index: 0;
    /*comando que coloca o bloco "atras" em uma questão geral*/
    background-color: hsl(229, 57%, 11%);
    /*muda a cor de fundo*/
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 14px;
    /*ajustes que escritas*/
}

.bloco1{
  z-index: 1;
  /*comando que coloca o bloco "para frente" em uma questão geral*/
  
  padding-left: 2rem;
  padding-top: 1rem;
  /*porda dentro bloco*/
  display: inline-block;
  /*arrumar os inteis dentro do bloco*/
  position: absolute;
  /*ajuste da posição*/
  left: 18%;
  bottom: 37%;
  width: 18rem;
  height: 11rem;
  background-color: hsl(228, 56%, 26%);
  border-radius: 0.5rem 5.5rem 0.5rem 0.5rem;
}

.background{
    z-index: 0;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mobilebackground{
    z-index: 0;
    display: none;
    width:100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

@media screen and (max-width: 768px){
   
    .mobilebackground{
        display: block;
    
      }
      .background{
        display:none;
      }
}