@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet');

* {
  box-sizing: border-box;
  margin: 0;
/*ajuste da borda do site inteiro*/
}

body{
    z-index: 0;
    /*comando que coloca o bloco "atras" em uma questão geral*/
    background-color: hsl(229, 57%, 11%);
    /*muda a cor de fundo*/
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 14px;
    /*ajustes que escritas*/
}

.bloco1{
  z-index: 1;
  /*comando que coloca o bloco "para frente" em uma questão geral*/
  
  padding-left: 2rem;
  padding-top: 1rem;
  /*borda dentro bloco*/
  display: inline-block;
  /*arrumar os inteis dentro do bloco*/
  position: absolute;
  /*ajuste da posição*/
  left: 18%;
  bottom: 37%;
  width: 18rem;
  height: 10rem;
  /*ajuste da posição e tamanho do bloco em meio a tela*/
  background-color: hsl(228, 56%, 26%);
  /*cor do bloco*/
  border-radius: 0.5rem 5.5rem 0.5rem 0.5rem;
  /*bordas do blco*/
}

.fylo{
  padding-top: 17px;
  /*ajuste da imagem fylo*/
}

.logoinside{
  
  display: inline-block;
  /*ajuste dos icones um ao lado do outro*/
  margin:0.7rem ;
  width: 2.5rem;
  height: 2.5rem;
  /*ajuste posição*/
  border-radius: 0.6rem;
  background-color: hsl(229, 57%, 11%);
}

.logo{
  margin: 0.6rem;
  width: 1.4rem;
  height: 20px;
}

.background{
    z-index: 0;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mobilebackground{
    z-index: 0;
    display: none;
    width:100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

@media screen and (max-width: 768px){
   
    .mobilebackground{
        display: block;
    
      }
      .background{
        display:none;
      }
}